@{
    ViewData["Title"] = "Home Page";
}
@using DojoSurvey.Models
@model User

<partial name="NavPartial"/>
<h2>Surveys</h2>

<p>Username: @ViewBag.Username</p>
<p>FirstName: @Model.FirstName</p>
<p>LastName: @Model.LastName</p>

<form action="/result" method="post">
    <label>Your Name:</label>
    <input type="text" name="Name">
    <label>Dojo Location:</label>
    <select name="Location">
        <option value="Chicago">Chicago</option>
        <option value="California">California</option>
        <option value="NewYork">NewYork</option>
    </select>
    <label>Favorite Language:</label>
    <select name="Language">
        <option value="JavaScript">JavaScript</option>
        <option value="Python">Python</option>
        <option value="CSharp">CSharp</option>
    </select>
    <label>Comment (optional):</label>
    <input type="text" name="Comment">
    <button>Submit</button>
</form>

<h2>Here are my Users!</h2>
<ul>
@foreach(var user in ViewBag.Users)
{
    <!-- Remember, these are Dictionaries - so you must use user["KeyName"] to access the values within -->
    <li>@user["FirstName"] @user["LastName"]</li>
}
</ul>
